.success{
    background: green;
    /* margin: 10px;
    font-size: 24px;
    /* color: white; */
} 
.error{
    background: red;
    /* margin: 10px;
    /* font-size: 24px; */
} 
.warning{
    background: yellow;
    /* color: crimson;
    font-size: 24px;
    /* margin: 10px; */
} 

.label-firstname, .firstname, .btn{
    display: block;
    margin-top: 12px;
}

.firstname{
    padding: 12px;
    border-radius: 5px;
}

.btn{
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 1.4em;
    color: white;
    border: none;
    background-color: rgb(158, 16, 16);
}

.btn:hover{
    background-color: white;
    color: rgb(29, 159, 211);
}